In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'data.json',
 'db.py',
 'db_config.json',
 'dict.py',
 'static',
 'templates',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [2]:
import pandas as pd

pd.read_csv("supermarkets.csv")

In [3]:
df1 = pd.read_csv("supermarkets.csv")

FileNotFoundError: File b'supermarkets.csv' does not exist

In [ ]:
df1

In [4]:
df1

NameError: name 'df1' is not defined

In [5]:
df1 = pd.read_csv("supermarkets.csv")

FileNotFoundError: File b'supermarkets.csv' does not exist

In [6]:
df1 = pd.read_csv("supermarkets.csv")

FileNotFoundError: File b'supermarkets.csv' does not exist

In [7]:
os.getcwd()

'D:\\Work\\learning_and_developement\\mega_course\\dictionary'

In [8]:
!cd ..

In [9]:
!cd pandas

The system cannot find the path specified.

In [10]:
os.system("ls")

1

In [11]:
os.popen("ls")

In [12]:
os.getcwd()

'D:\\Work\\learning_and_developement\\mega_course\\dictionary'

In [13]:
os.system("cd..")

0

In [14]:
os.getcwd()

'D:\\Work\\learning_and_developement\\mega_course\\dictionary'

In [15]:
--notebook-dir='D:\\Work\\learning_and_developement\\mega_course\\pandas'

SyntaxError: can't assign to operator (<ipython-input-15-6df29f8be440>, line 1)

In [16]:
os.chdir('D:\\Work\\learning_and_developement\\mega_course\\dictionary')

In [17]:
os.chdir('D:\\Work\\learning_and_developement\\mega_course\\pandas')

In [18]:
os.getcwd()

'D:\\Work\\learning_and_developement\\mega_course\\pandas'

In [19]:
df1

NameError: name 'df1' is not defined

In [20]:
df1 = pd.read_csv("supermarkets.csv")

In [21]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
df1.pretty()

AttributeError: 'DataFrame' object has no attribute 'pretty'

In [23]:
df2= pd.read_csv("supermarkets.csv")

In [24]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [25]:
import xlrd

In [26]:
df3 = pd.read_excel("supermarkets.xlsx", sheet = 0)

df3

In [27]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:
df4 = pd.read_csv("supermarkets-semi-colons.txt", sep=';')

In [29]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df4 = pd.read_csv("supermarkets-semi-colons_noheader.txt", sep=';', header=False)

TypeError: Passing a bool to header is invalid. Use header=None for no header or header=int or list-like of ints to specify the row(s) making up the column names

In [31]:
df4 = pd.read_csv("supermarkets-semi-colons_noheader.txt", sep=';', header=None)

In [32]:
df4

   0                1              2                 3    4             5   6
0  1     3666 21st St  San Francisco          CA 94114  USA       Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA   Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA   Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA    Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA       Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA    Richvalley  20

In [33]:
df4.columns = [ID;Address;City;State;Country;Name;Employees]

SyntaxError: invalid syntax (<ipython-input-33-bf3f4b44ad32>, line 1)

In [34]:
df4.columns = [ID,Address,City,State,Country,Name,Employees]

NameError: name 'ID' is not defined

In [35]:
df4.columns = ['ID';'Address';'City';'State';'Country';'Name';'Employees']

SyntaxError: invalid syntax (<ipython-input-35-0300adac9dbc>, line 1)

In [37]:
df4.columns = ['ID','Address','City','State','Country','Name','Employees']

In [38]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [41]:
df9 = df4.set_index('ID')

In [40]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [42]:
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [47]:
df9.set_index("Address", inplace=True, drop=False)

In [48]:
df9

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [49]:
df9.loc["332 Hill St":"1056 Sanchez St","City":"Country"]

                          City             State Country
Address
332 Hill St      San Francisco  California 94114     USA
3995 23rd St     San Francisco          CA 94114     USA
1056 Sanchez St  San Francisco        California     USA

In [51]:
df9.loc["332 Hill St":"1056 Sanchez St"]

,Address,City,State,Country,Name,Employees
Address,,,,,,
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12

In [55]:
df9.loc[:,"City":"Country"]

                          City             State Country
Address
3666 21st St     San Francisco          CA 94114     USA
735 Dolores St   San Francisco          CA 94119     USA
332 Hill St      San Francisco  California 94114     USA
3995 23rd St     San Francisco          CA 94114     USA
1056 Sanchez St  San Francisco        California     USA
551 Alvarado St  San Francisco          CA 94114     USA

In [56]:
df9.loc[:,"Country"]

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [58]:
df9.iloc[2:5,1:5]

                          City             State Country          Name
Address
332 Hill St      San Francisco  California 94114     USA   Super River
3995 23rd St     San Francisco          CA 94114     USA    Ben's Shop
1056 Sanchez St  San Francisco        California     USA       Sanchez

In [59]:
df9.iloc[:,1:4]

                          City             State Country
Address
3666 21st St     San Francisco          CA 94114     USA
735 Dolores St   San Francisco          CA 94119     USA
332 Hill St      San Francisco  California 94114     USA
3995 23rd St     San Francisco          CA 94114     USA
1056 Sanchez St  San Francisco        California     USA
551 Alvarado St  San Francisco          CA 94114     USA

In [61]:
df9.iloc[1:4]

,Address,City,State,Country,Name,Employees
Address,,,,,,
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10

In [62]:
df9.drop("Address", 1)

,City,State,Country,Name,Employees
Address,,,,,
3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [63]:
df9

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [69]:
df9.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [75]:
df9.drop(df9.index[1])

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [76]:
df9.T

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20

In [77]:
df9

,Address,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [78]:
ID = [i for i in range(6)]
df9["ID"]=ID

In [79]:
df9

,Address,City,State,Country,Name,Employees,ID
Address,,,,,,,
3666 21st St,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,0
735 Dolores St,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,1
332 Hill St,332 Hill St,San Francisco,California 94114,USA,Super River,25,2
3995 23rd St,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,3
1056 Sanchez St,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,4
551 Alvarado St,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,5

In [80]:
import geopy

ModuleNotFoundError: No module named 'geopy'

In [81]:
conda install geopy

SyntaxError: invalid syntax (<ipython-input-81-b32f1cd5c56d>, line 1)

In [83]:
!pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.20.0

In [ ]:
import geopy